{% extends "layout.j2" %}
{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Service list</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
        <ul>
            {% for svc in services %}
            <li><a href="/service/{{ svc }}">{{ svc }}</a></li>
            {% endfor %}
        </ul>
    </div>
    </div>
</div>

{% endblock %}
