{% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/service', 'service', 'Services'),
] -%}
{% set active_page = active_page|default('index') -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel=stylesheet href="{{ url_for('.static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet href="{{ url_for('.static', filename='css/bootstrap-responsive.css') }}">
    <link rel=stylesheet href="{{ url_for('.static', filename='css/global.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Jones</a>
          <div class="nav-collapse">
            <ul class="nav">
             {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif %}>
                  <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
              {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="row span8">
                {% for message in messages %}
                <div class="alert alert-info">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>

    <script src="{{ url_for('.static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    {% block footer %}{% endblock %}

  </body>
</html>
