{#
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel=stylesheet href="{{ url_for('.static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet href="{{ url_for('.static', filename='css/global.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <a class="navbar-brand" href="/">Jones</a>
      <ul class="nav navbar-nav">
          {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif %}>
          <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
          {% endfor %}
          <li id="service-nav" class="dropdown">
          <a href="#"
              class="dropdown-toggle"
              data-toggle="dropdown">
              {% if service %}
              {{ service }}
              {% else %}
              services
              {% endif %}
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" >
              {% for svc in services %}
              {% if svc == service %} 
              <li><a><strong>{{ svc }}</strong></a></li>
              {% else %}
              <li><a href="/service/{{ svc }}">{{ svc }}</a></li>
              {% endif %}
              {% endfor %}
              <li class="divider"></li>
              <li>
              <form class="navbar-form pull-left" method="post">
                <p>
                  <input type="text" class="form-control" placeholder="Add Service…">
                </p>
              </form>
              </li>
          </ul>
          </li>
      </ul>
    </div>

    <div class="container">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="row col-8">
                {% for message in messages %}
                <div class="alert alert-info">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>

    <script src="{{ url_for('.static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/underscore-min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        function validate(parts, success) {
            /*
            validate that no parts contain a slash
            add a slash to the end
            submit it through the form
            */
            var success, parts;
            parts = _.flatten(_.initial(arguments));
            success = _.last(arguments);

            var valid = _.every(parts, function(elem) {
                return elem.search('/') == -1;
            });

            if (valid === true) {
                success('/' + parts.join('/') + '/');
            } else {
                //TODO: set off errors and stuff.
                console.log('no /s');
                return false;
            }
        }
        $(function() {
            $('#service-nav form').submit(function() {
                return validate('service', $('input', this).val(), function(path) {
                    $(this).attr('action', path);
                });
            });
        });
    </script>
    {% block footer %}{% endblock %}

  </body>
</html>
