{% extends "layout.html" %}
{% set page_title = "Jones" %}
{% block head %}

<script>
var config = {{ config | tojson |safe }};
</script>
{% endblock %}
{% block body %}

<h2>{{ service }}</h2>
<h3>/{% if env %}{{env}}{% endif %}</h3>

<table class="table table-bordered">
    <tbody>
        {% for child in children %}
        {# TODO: doesn't work for root (/) #}
        {% set ischild = (child[1:] == (env or '')) %}
            <tr>
                <td>
                    {% if ischild%}
                    <strong>
                    {% endif %}
                    <a href="/service/{{ service }}{{ child }}">
                        {% if child %}
                        {{child}}
                        {% else %}
                        /
                        {% endif %}
                    </a>
                    {% if ischild %}
                    </strong>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<pre>{{ view | as_json(2) }}</pre>
{% endblock %}
